{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>login</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">


</head>
 <body>
 <div class="container1">
        <h1>login</h1>

        {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}


   <div class="login-box">
    <form method="post">
        {% csrf_token %}

        <input class="abc" type="text" name="username1" placeholder="Enter Username">
        <input class="abc" type="password" name="password1" placeholder="Enter Password">

        <button type="submit" class="login-btn">Login</button>
    </form>
</div>
</body>
</html>